body{
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 992px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.container {
	width: 1600px;
	display: flex;
	margin: 0 auto;
	height: auto;
}
.row	{
	position: relative;
	display: flex;
	width: 100%;
	padding: 0 15px;
	height: auto;
}
.showed {
	opacity: 1!important;
}
.visible {
	display: flex!important;
}
.column {
	flex-direction: column;
}
.hidden {
	display: none;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: sans;
  src: url(../fonts/DMSans.html);
}


@media screen and (max-width: 1600px) {
	.container {
		width: 1200px;
	}
}
@media screen and (max-width: 1200px) {
	.container {
		width: 991px;
	}
}
@media screen and (max-width: 991px) {
	.container {
		width: 768px;
	}
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
}